
:root {
  --primary-color: #f00;
  --secondary-color: #0ff0;
  --base-fontsize: 1rem;
  --mainColor: red;

  --danger-theme: {
    color: white;
    background-color: red;
  };

  --fontSize: 1rem;
}

a {
  color: var(--mainColor);
  font-size: calc(var(--fontSize) * 0.97);
}

.danger {
  @apply --danger-theme;
}

.h1 {
  color: var(--primary-color);
}
.h1:hover {
  color: var(--secondary-color);
}
body {
  font-size: var(--base-fontsize);
}

/* プレフィックス */
.flexbox {
  display: flex;
}
.transform {
  transition: scale(0.5);
}